.form__input_type_descrition {
  margin-top: 30px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 694px) {
  .form__input_type_descrition {
      margin-top: 30px;
  }
}
